[submodule "core/common_rtl"]
	path = core/common_rtl
	url = https://github.com/Project-HiveCore/common_rtl.git
[submodule "tools"]
	path = tools
	url = https://github.com/Project-HiveCore/tooling.git
